input[type="text"], input[type="password"], input[type="number"]{
    outline: none;
    padding: 10px;
    width: 300px;
    border-radius: 3px;
    border: 1px solid #eee;
    margin: 10px auto;
}
