body{
    background-image: url(FONDO_IMG.png);
    background-repeat: no-repeat;
    background-size: 1366px 768px;
}

section{
    margin-top: 150px;
    background-color: #eee;
    margin-left: 320px;
    width:53%;
    height: auto;
}

h1{
    background-color: #0D47A1;
    color: #eee;
    padding: 10px;
}